.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app h1 {
  font-size: 64px;
  margin: 0;
  font-weight: 900;
}

.app p {
  margin-top: 10px;
  font-size: 18px;
}