* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  background: #080808;
}

body {
  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #080808;

  color: white;

  overflow-x: hidden;
}


/*
  Prevent scrolling while
  interacting with the shutter.
*/

body.shutter-dragging {
  overflow: hidden;

  touch-action: none;
}


/*
  Better mobile touch behavior.
*/

button,
a {
  -webkit-tap-highlight-color:
    transparent;
}